body{
    background-color: antiquewhite;
}
/* h1{
    font-size: 60px;
    text-align: center;
    background-image: url(/assest/image/flower.jpg);
    background-size: 500px;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    transition: all 5s;
}
h1:hover{
    background-position: right;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

h1{
    font-size: 60px;
    text-align: center;
    font-family: "Jacquard 24", system-ui;

} */
i{
    font-size: 60px;
    
}